/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) { 
    .works .screenshot img{
            margin-left: -7rem;
    }
    .works .details {
        padding-top: 0;
        padding-bottom: 20px;
        height: auto;
    }
}