/* WORKS PAGE */
.works{
    /*border: 1px solid white;*/
}

.works .sweethut{
    background-image: url(../img/sweethut/bkg.png);
    background-size: cover;
}
.works .shopsmart{
    background-image: url(../img/shopsmart/bkg.png);
    background-size: cover;
}
.works .fug{
    background-image: url(../img/fug/bkg.png);
    background-size: cover;
}

.works .screenshot img{
    width: 140%;
    height: 100%;
    /*border: 1px solid white;*/
}
.works .details{
    padding-top: 9rem;
}
.works .details .title{
    font-size: 3rem;
}
.works .details .description{
font-size: 1.5rem;
}
.works .details .rating{
font-size: 1.5rem;
padding-bottom: 15px;
}
.works .details img{
    width: 20%;
    padding-bottom: 15px;
}
.works .details button{
    background-color: transparent;
    color: #d9534f;
    border-radius: 5px;
    border: 2px solid;
}
.works .details button:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.works .details button:active{
    background-color: transparent;
}

/* ABOUT SECTION */
.about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/about-bkg.png);
    color: black;
    background-size: cover;
}
.about h2{
    padding-top: 5rem;
    margin: 0;
    padding-bottom: 1rem;
}
.about .profile{
    height: 25rem;
    width: 25rem;
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 auto;
}
.about .profile img{

}
.about .niceWords{
    font-size: 1.5rem;
    padding: 2rem 0;
}
.about .seperator{
    width: 30%;
    height: 2px;
    background-color: gray;
    margin: 0 auto;
}
.about p{
   padding-top: 1.5rem;
}
.about button{

}
.about .socalMedia{

}

/* CONTACT SECTION */
.contact{
    background-image: url(../img/contact-bkg.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
}

/* STATS SECTION */
.stats {
    padding-top: 50px;
}
.stats .kpi {

}
.stats .kpi h1{
    margin:  0;
    font-size: 6rem;
}
.stats .kpi div{
    background-color: white;
    height: 1px;
    width: 25%;
    margin: 0 auto;
}
.stats .kpi p{
    text-transform: uppercase;
    font-size: 1rem;
}
